##############################
# Dependencies & package mgr #
##############################
node_modules/
package-lock.json
yarn.lock
pnpm-debug.log*
proxies.json
#############
# Env files #
#############
.env
.env.*
!.env.example

################
# Build output #
################
dist/
build/
coverage/
*.tsbuildinfo

########
# Logs #
########
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

############
# Database #
############
db.sqlite3
db.sqlite3-* 
*.sqlite
backups/
*.zip

#############
# Cookies   #
#############
cookies/

#############
# IDE / OS  #
#############
.DS_Store
.idea/
.vscode/

###########
# Misc    #
###########
*.pid
*.swp
*.tmp
tmp/